<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Top HN Posts - since last 8hrs</title>
  <style>
    #footer-info li{
      display: inline;
    }
  </style>

<link rel="stylesheet" href="https://raw.githubusercontent.com/vasanthv/stylize.css/master/stylize.min.css" />

</head>

<body>
  <header>
      <h1>Top HN Posts - since last 8hrs</h1>
  </header>
  
  <main>
      <ul>
          {{ range $key, $item := .Data }}
          <li>
            {{ if $item.Deleted }}
              <del>
            {{ else if $item.Dead }}
              <s>
            {{ end }}
                {{ if eq $item.URL "" }}
                <a target="_blank" href="https://news.ycombinator.com/item?id={{ $key }}">{{ $item.Title }}</a>
                {{ else }}
                <a target="_blank" href="{{ $item.URL }}">{{ $item.Title }}</a> <a target="_blank" href="https://news.ycombinator.com/item?id={{ $key }}"><i>discuss</i></a>
                {{ end }}
            {{ if $item.Deleted }}
              </del>
            {{ else if $item.Dead }}
              </s>
            {{ end }}
          </li>
          {{ end }}
        </ul>
  </main>

  <footer>
    <ul id="footer-info">
      <li>Visits : {{ .VisitorNumber }} |</li>
      <li>Links : {{ len .Data }} |</li>
      <li><a href="http://github.com/mseshachalam/HN-Posts-last-8hrs" target="_blank">Source</a> |</li>
      <li><a href="https://twitter.com/seshnsesh" target="_blank">Contact</a></li>
    </ul>
  </footer>
</body>

</html>